.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

.education-span span {
    background-color: #E5E7EB;
    border-radius: 12px;
    padding: 4px 20px;
    width: 105px;
    height: 28px;
    font-size: 14px;
    font-weight: 500;
}

.education-contents {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    animation: slide-continuous 15s linear infinite;
}

.education-content {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    flex: 0 0 auto;
}

.education-content1 {
    background: #E3F2FD;

}

.education-content2 {
    background: #FFEBEE;

}

.education-content3 {
    background: #E8F5E9;

}

.education-title h3,
.education-title h4 {
    margin: 0;
}

.education-description p {
    margin: 5px 0;
}

@keyframes slide-continuous {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}