.footer {
    width: 100%;
    height: 70px;
    background-color: var(--Secondary-color);
}

.copyRights {
    text-align: center;
    justify-content: center;
    padding: 24px 80px;
}

.footer span {
    font-size: 14px;
    font-weight: 400;
}

.footer-span {
    text-decoration: underline;
}